/* <i class="fa-brands fa-youtube"></i>
<i class="fa-brands fa-tiktok"></i>
<i class="fa-solid fa-play"></i>
<i class="fa-brands fa-facebook-f"></i>
<i class="fa-brands fa-twitter"></i>
<i class="fa-brands fa-linkedin"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-apple"></i> */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.hide{
    display: none;
}
header{
    padding-left: 150px;
    padding-right: 150px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  
}
 /* nav section style start here  */
.nav-container{
   
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10%;
}
.nav-logo img{
    width: 86.041px;
    height: 40px;
}
.nav-logo h1{
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}
.nav-logo span{
    color: #FF42A5;
}
.nav-items {
    display: flex;
    align-items: center;
    
}

.nav-items li{
    list-style: none;
    margin-right: 30px;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}

.follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 20px;
}
.fa-youtube{
    color: red;
}
.fa-tiktok{
    color: #1E3050;
}
/* nav section style end here  */

    /* banner section style  start here  */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    background: url("../images/Group\ 14.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 55%;
    margin-bottom: 100px;
   

}
.banner-content{
    width: 50%;
    height: 100%;
}
.banner-content h2{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-content span{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-content btn{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    padding: 10px 20px;
    border: 0;
}
.banner-content .btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    padding: 10px 20px;
    border: 0;
    background:#FF42A5;
}
.banner-content .btn-secondary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    padding: 10px 20px;
    border: 0;
    background: #4EC5F7;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 90%;
    object-fit: cover;
}

        /* banner section style  end here  */

        /* online game section style start here  */
.online-game h2{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.online-game span{
    color: #F948B2 ;
}
.online-game-description{
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 30px;
}

        /* online game section style end here  */

.online-game-container{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}
.online-game-card{
    width: 24%;
}
.online-game-card img{
    width: 200px;
    object-fit: cover;
}
.online-game-card p{
    color: #534C64;
    font-size: 1rem;
}
#third-online-game-card{
    position: relative;
}

.online-game-play-button{
    text-align: center;
    position: absolute;
    left: 45px;
    top: 86px;
}
.online-game-play-button .fa-circle-play {
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
.online-game-play-button p{
    color: #FF42A5 ;
    font-size: 1.25rem;
    font-weight: 600;
}
#third-online-game-card img:hover{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url("../images/"), lightgray 50% / cover no-repeat;
    background-blend-mode: overlay;

}

    /* online game section style end here  */

    /* play game section style start here  */
.play-game-container{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}
.play-game-img{
    width: 50%;
    position: relative;
}
.play-game-img img{
    width: 100%;
}
.play-game-content{
    width: 50%;
    margin-left: 148px;
}
.play-game-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}
.play-game-content span{
    color: #F948B2; 
}
.play-game-content p{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px; 
}
.small-img img{
    width: 230px;
    height: 250px;
    position: absolute;
    top: 242px;
    left: 279px;
}
        /* play game section style end here  */

        /* button section style start here  */

.button-container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.button-container button{
    border: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
}
.button-container span{
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}

.button-container img{
    width: 50px;
}
.button-container button:hover{
    border: 1px solid #FF42A5;
    border-radius: 28px;
    color: #FF42A5;
}
.button-container button:hover span{
    color: #F948B2;
}
        /* button section style end here  */

        /* footer section style start here  */
footer{
    background: #0B0223;
    margin-top: 100px;
    text-align: center;
}
footer .logo {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.logo h1{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
}
.logo img{
    margin-top: 25px;
}
.logo span{
    color:#FF42A5 ;
}
.footer-our-story{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-our-story p{
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.footer-term-condition{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.footer-term-condition p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
.footer-last-part{
   padding: 20px;
}
footer small{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

         /* footer section style end here  */



        /* mobile device responsive  */
@media screen and (max-width: 576px) {
    .nav-container,
    .nav-items ,
    .banner-container ,
    .online-game-container ,
    .play-game-container
    {
        flex-direction: column;
    }
    .nav-items ,
    .nav-container
    {
        grid-row-gap: 10px
    }
    .follow{
        padding: 10px 0;
        width: 200px;
        text-align: center;
        
    }
    .banner-container{
        padding: 10px;
        background-size: 100%; 
    }
    .banner-content ,
    .banner-img ,
    .play-game-content ,
    .play-game-img
    {
        width: 100%;
    }
    .banner-content{
        text-align: center;
        margin-bottom: 10px;
    }
    .banner-content p{
        margin-bottom: 10px;
    }
    .banner-img img{
        width: 100%;
    }
    .online-game-container ,
    .play-game-container ,
    .button-container
    {
        margin-left: 10px;
        margin-right: 10px;
    }
    .online-game-card{
        width: 100%;
    }
    .online-game-card img{
        width: 100%;
    }
    .online-game h2 ,
    .play-game-content h2
    {
        font-size: 2rem;
    }
    .online-game-description,
    .play-game-content p
    {
        font-size: 1rem;
    }
    .play-game-content{
        margin-left: 0;
        text-align: center;
    }
    .online-game-play-button{
        left:450%;
        top: 50%;
    }
  
    .play-game-img{
        margin-bottom: 10px;
        text-align: center;
    }
    .play-game-img img{
        width: 80%;
    }
    .small-img img{
        width: 120px;
        height: 140px;
        object-fit: cover;
        position: relative;
        left: 150px;
        top: -100px;
    }
    
    .footer-our-story ,
    .footer-logo 
    
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .footer-term-condition {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .button-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
    }
    .button-container img{
        width: 30px;
        object-fit: cover;
    }
    
   

    }
